<div class="row p-2">
    <div [ngClass]="isSidePanelVisible ?'col-8':'col-12'" >
      <div class="card">
        <div class="card-header bg-warning">
           <div class="row">
            <div class="col-6">
              <h4>Product-List</h4>
            </div>
            <div class="col-6 text-end">
              <button class="btn btn-sm btn-success px-3 py-2" (click)="openSidePanel()">New</button>
            </div>
            </div>
           </div>
          
        <div class="card-body">
            <div class="row">
              @for (item of productList; track $index) {
              <div class="col-3">
                <div class="card">
                  <img [src]="item.productImageUrl" height="200px" class="card-img-top" alt="Card Image">
                  <div class="card-body">
                    <h5 class="card-title">{{item.productName}}</h5>
                    <p class="card-text">{{item.categoryName}}</p>
                    <button class="btn btn-primary" (click)="onEdit(item)">Edit</button>
                    <button class="btn btn-danger mx-2" (click)="onDelete(item.productId)">Delete</button>
                  </div>
                </div>
              </div>
            }
            </div>
        </div>
      </div>
      </div>
    <div class="col-4" *ngIf="isSidePanelVisible">
        <div class="card">
            <div class="card-header bg-warning">
              <div class="row">
                <div class="col-6">
                  <h4>New Products</h4>
                </div>
                <div class="col-6 text-end">
                  <button class="btn btn-sm btn-success px-3 py-2" (click)="closeSidePanel()">Close</button>
                </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                  <div class="col-6">
                    <label for="sku" class="form-label"> SKU</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.productSku">
                  </div>
                  <div class="col-6">
                    <label for="sku" class="form-label">Name</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.productName">
                  </div>
                  <div class="col-6">
                    <label for="sku" class="form-label">Short Name</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.productShortName">
                  </div>
                  <div class="col-6">
                    <label for="sku" class="form-label">Price</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.productPrice">
                  </div>
                  <div class="col-6">
                    <label for="sku" class="form-label">Category</label>
                    <select name="category" [(ngModel)]="productObject.categoryId" class="form-select" id="">
                      <option selected>Select Categories</option>
                      @for (item of categoryList; track $index) {
                        <option value="{{item.categoryId }}">{{item.categoryName}}</option>
                      }
                    </select>
                  </div>
                  <div class="col-6">
                    <label for="sku" class="form-label">Develery Time Span</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.deliveryTimeSpan">
                  </div>
                  <div class="col-12">
                    <label for="sku" class="form-label">Image Url</label>
                    <input type="text" class="form-control" [(ngModel)]="productObject.productImageUrl">
                  </div>
                  <div class="col-12">
                    <label for="sku" class="form-label">Discription</label>
                    <textarea rows="4" class="form-control" [(ngModel)]="productObject.productDescription"></textarea>
                  </div>
                   <div class="row p-2">
                    <div class="col-6">
                      <button class="btn btn-sm btn-success px-3 py-2" (click)="saveProduct()">Reset</button>
                    </div>
                    <div class="col-6">
                      <button class="btn btn-sm btn-primary text-end px-3 py-2" *ngIf="productObject.productId == 0" (click)="saveProduct()">Create Products</button>
                      <button class="btn btn-sm btn-warning text-end px-3 py-2" *ngIf="productObject.productId != 0" (click)="updateProduct()">Update Products</button>
                    </div>
                   </div>
            </div>
          </div>
    </div>
    
</div>